
*.bak
*.buildv*

/*.txt
!/README.TXT
!/LICENSE.TXT

/desktop.ini

/bananas

/bin/*.dll
/bin/assets
/bin/ted2.state.json

/devtools/*
!/devtools/.gitignore

/docs/modules.html
__PAGES__/

**/assets/mojo

/tmp/*
!/tmp/.gitignore

/src/ted2
/src/mojox/

/src/*.save
debug_test.monkey2
