
*.buildv*

/*.txt
!/README.TXT
!/LICENSE.TXT

/desktop.ini

/bananas

/bin/*.dll
/bin/assets

/devtools/*
!/devtools/.gitignore

/help

/modules/*
!/modules/monkey
!/modules/libc
!/modules/miniz
!/modules/hoedown
!/modules/stb-image
!/modules/std
!/modules/gles20
!/modules/sdl2

/src/createrelease
/src/launcher
/src/ted2

/src/*.save

/tmp/*
!/tmp/.gitignore
