
*.bak
*.buildv*

/*.txt
!/README.TXT
!/LICENSE.TXT

/desktop.ini

/bananas

/bin/*.dll
/bin/assets

/devtools/*
!/devtools/.gitignore

/help

/modules/*
!/modules/modules.txt
!/modules/monkey
!/modules/libc
!/modules/miniz
!/modules/hoedown
!/modules/stb-image
!/modules/stb-truetype
!/modules/std
!/modules/gles20
!/modules/sdl2
!/modules/sdl2-mixer
!/modules/mojo2

/docs/modules.html
__PAGES__/

/src/createrelease
/src/launcher
/src/ted2
/src/mojox/

/src/*.save

/tmp/*
!/tmp/.gitignore
